/* font-family: "FuturaBD"; */
@font-face {
	font-family: "FuturaBD";
	src: 
	url("futura/FuturaBoldfont.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}
/* font-family: "FuturaSTD"; */
@font-face {
	font-family: "FuturaSTD";
	src: 
	url("futura/futuralightbt.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "Georgia"; */
@font-face {
	font-family: "Georgia";
	src: 
	url("georgia/georgia.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "SilkSerif"; */
@font-face {
	font-family: "SilkSerif";
	src: 
	url("Silk_Serif/SilkSerifLight.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}
