@charset "UTF-8";
@font-face {
  font-family: 'Gotham Pro';
  src: url("../assets/fonts/GothamPro/GothamPro-Light.eot");
  src: url("../assets/fonts/GothamPro/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GothamPro/GothamPro-Light.woff") format("woff"), url("../assets/fonts/GothamPro/GothamPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../assets/fonts/GothamPro/GothamPro-Bold.eot");
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"), url("../assets/fonts/GothamPro/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GothamPro/GothamPro-Bold.woff") format("woff"), url("../assets/fonts/GothamPro/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../assets/fonts/GothamPro/GothamPro-Medium.eot");
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"), url("../assets/fonts/GothamPro/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GothamPro/GothamPro-Medium.woff") format("woff"), url("../assets/fonts/GothamPro/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'fontello';
  src: url("../assets/fonts/font/fontello.eot?35328786");
  src: url("../assets/fonts/font/fontello.eot?35328786#iefix") format("embedded-opentype"), url("../assets/fonts/font/fontello.woff2?35328786") format("woff2"), url("../assets/fonts/font/fontello.woff?35328786") format("woff"), url("../assets/fonts/font/fontello.ttf?35328786") format("truetype"), url("../assets/fonts/font/fontello.svg?35328786#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?35328786#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-list11:before {
  content: '\e800'; }

/* '' */
.icon-list22:before {
  content: '\e801'; }

/* '' */
.icon-list33:before {
  content: '\e802'; }

/* '' */
.icon-list44:before {
  content: '\e803'; }

/* '' */
.icon-list55:before {
  content: '\e804'; }

/* '' */
.icon-list66:before {
  content: '\e805'; }

/* '' */
.icon-list77:before {
  content: '\e806'; }

/* '' */
.icon-emo-happy:before {
  content: '\e807'; }

/* '' */
.icon-emo-unhappy:before {
  content: '\e808'; }

/* '' */
.icon-top10:before {
  content: '\e809'; }

/* '' */
.icon-star:before {
  content: '\e80a'; }

/* '' */
.icon-comment:before {
  content: '\e80b'; }

/* '' */
.icon-camera-outline:before {
  content: '\e80c'; }

/* '' */
.icon-search:before {
  content: '\e80d'; }

/* '' */
.icon-location:before {
  content: '\e80e'; }

/* '' */
.icon-th-list-1:before {
  content: '\e80f'; }

/* '' */
.icon-th-large-1:before {
  content: '\e810'; }

/* '' */
.icon-star-empty:before {
  content: '\e811'; }

/* '' */
.icon-sport:before {
  content: '\e812'; }

/* '' */
.icon-restoran:before {
  content: '\e813'; }

/* '' */
.icon-place:before {
  content: '\e814'; }

/* '' */
.icon-magazin:before {
  content: '\e815'; }

/* '' */
.icon-shop:before {
  content: '\e816'; }

/* '' */
.icon-book:before {
  content: '\e817'; }

/* '' */
.icon-angle-double-left:before {
  content: '\f100'; }

/* '' */
.icon-angle-double-right:before {
  content: '\f101'; }

/* '' */
.icon-angle-left:before {
  content: '\f104'; }

/* '' */
.icon-angle-right:before {
  content: '\f105'; }

/* '' */
.icon-star-half-alt:before {
  content: '\f123'; }

/* '' */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, li, a {
  list-style: none;
  text-decoration: none;
  color: inherit; }

html {
  font-size: 10px; }

body {
  min-width: 320px;
  font-family: 'Gotham Pro';
  font-size: 14px;
  color: #4a3934;
  font-weight: 500; }

input, label, button, a {
  outline: none !important; }

.wrapper {
  width: 1230px;
  margin: 0 auto; }

.header {
  width: 100%;
  border-bottom: 1px solid #4a3934; }
  .header_top {
    width: 100%;
    height: 25px;
    background-color: #4a3934;
    text-align: right; }
    .header_top_menu {
      display: inline-block; }
      .header_top_menu li {
        display: inline-block;
        line-height: 25px;
        color: #b7b0ae;
        font-size: 16px;
        margin-right: 7rem; }
    .header_top_translate a {
      display: inline-block;
      color: #b7b0ae;
      text-transform: uppercase;
      margin-right: 5px;
      font-size: 16px;
      transition: all 0.2s ease-in-out; }
      .header_top_translate a:last-child {
        margin-right: 0; }
      .header_top_translate a:hover {
        color: #fff;
        font-weight: 700;
        transition: all 0.2s ease-in-out; }
  .header_logo {
    position: relative;
    cursor: pointer; }
    .header_logo_img {
      width: 200px; }
      .header_logo_img span {
        display: block;
        text-decoration: underline;
        text-align: center;
        margin-right: 5px;
        cursor: pointer; }
      .header_logo_img img {
        display: block;
        margin-bottom: 5px; }
    .header_logo_city.block {
      display: block;
      z-index: 99; }
    .header_logo_city {
      display: none;
      position: absolute;
      top: 115%;
      padding: 10px 10px 0;
      text-transform: uppercase;
      background-color: #fff;
      font-size: 16px;
      width: 340px;
      text-align: justify;
      border: 1px solid #4a3934; }
      .header_logo_city::before {
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        border-left: 1px solid #4a3934;
        border-top: 1px solid #4a3934;
        transform: rotate(45deg);
        top: -7px;
        left: 60px;
        background-color: #fff; }
      .header_logo_city li {
        background-color: #e2e0de;
        display: inline-block;
        color: #4a3934;
        margin-bottom: 10px;
        transition: all 0.2s ease-in-out; }
        .header_logo_city li a {
          display: block;
          cursor: pointer;
          height: 28px;
          padding: 5px 10px; }
        .header_logo_city li:hover {
          background-color: #b0063a;
          color: #fff;
          transition: all 0.2s ease-in-out; }
  .header_menu {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header_menu_list {
      text-align: right; }
      .header_menu_list li {
        display: inline-block;
        color: #4a3934;
        font-size: 16px;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        margin-right: 4.8rem;
        font-weight: 500; }
        .header_menu_list li.active {
          color: #b0063a; }
        .header_menu_list li:last-child {
          margin-right: 0; }
        .header_menu_list li:hover {
          color: #b1063a;
          transition: all 0.2s ease-in-out; }
    .header_menu .btn_menu_list {
      margin-right: 10px;
      display: none; }
      .header_menu .btn_menu_list i {
        display: block;
        font-size: 30px; }
  .header_search {
    display: flex;
    justify-content: center;
    height: 40px;
    margin-bottom: 40px; }
    .header_search_city {
      display: flex;
      line-height: 39px;
      justify-content: space-between;
      margin-right: 20px;
      padding-right: 10px;
      width: auto;
      font-size: 16px;
      color: #4a3934;
      font-weight: 600;
      background-color: #f4f3f2; }
      .header_search_city i {
        font-size: 28px;
        color: #e2e0de; }
    .header_search_input {
      position: relative;
      width: 605px;
      height: 40px; }
      .header_search_input input[type="text"] {
        padding: 0 75px 0 20px;
        width: 100%;
        height: 100%;
        background-color: #f4f3f2;
        border: none; }
        .header_search_input input[type="text"]::placeholder {
          font-size: 16px;
          color: #c3bebc; }
      .header_search_input button {
        position: absolute;
        line-height: 40px;
        right: 0;
        top: 0;
        cursor: pointer;
        width: 55px;
        color: #fff;
        height: 100%;
        font-size: 30px;
        background-color: #e2e0de;
        border: none; }
  .header_title {
    text-align: center;
    font-size: 30px;
    color: #4a3934;
    margin-bottom: 25px; }
    .header_title h1 {
      display: inline;
      font-size: inherit;
      color: #b1063a; }
  .header_category {
    margin-bottom: 30px; }
    .header_category_list {
      display: flex;
      justify-content: space-between; }
      .header_category_list li {
        text-align: center;
        width: 125px;
        font-weight: 600; }
        .header_category_list li:hover {
          color: #b1063a; }
        .header_category_list li a {
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .header_category_list li a i {
            font-size: 80px; }
        .header_category_list li.active_category {
          color: #b1063a; }
  .header_filtr {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    margin-bottom: 30px; }
    .header_filtr_btn {
      flex-grow: 1; }
      .header_filtr_btn .filter_names {
        display: inline-block; }
      .header_filtr_btn .btn_filtr {
        width: 188px;
        height: 100%;
        display: inline-block;
        margin-right: 5px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        border: 1px solid #4a3934;
        text-transform: uppercase;
        font-size: 17px;
        cursor: pointer;
        transition: all 0.2s ease-in-out; }
        .header_filtr_btn .btn_filtr:hover {
          background-color: #4a3934;
          color: #fff;
          transition: all 0.2s ease-in-out; }
    .header_filtr_list span {
      display: inline-block;
      font-size: 16px; }
      .header_filtr_list span .fas {
        padding-right: 10px; }
    .header_filtr_list .top10 {
      margin-right: 5rem;
      height: 35px;
      line-height: 35px;
      color: #fff;
      text-transform: uppercase;
      width: 100px;
      text-align: right; }
      .header_filtr_list .top10 a {
        position: relative;
        display: block;
        width: 100%;
        padding: 0 8px;
        background-color: #b0063a;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        border: 1px solid transparent; }
        .header_filtr_list .top10 a:hover {
          color: #b0063a;
          background-color: #fff;
          border: 1px solid #4a3934;
          font-weight: bold;
          transition: all 0.2s ease-in-out; }
        .header_filtr_list .top10 a::before {
          position: absolute;
          left: 30px;
          top: calc(50% - 10px);
          font-size: 20px;
          color: inherit; }
    .header_filtr_list span + span {
      margin-right: 30px; }
    .header_filtr_view {
      font-size: 28px;
      line-height: 35px;
      color: #e3e1e0; }
      .header_filtr_view .category_btn {
        margin-left: 10px; }
        .header_filtr_view .category_btn span.active {
          color: #4a3934; }
        .header_filtr_view .category_btn span {
          cursor: pointer; }
  .header #header_filtr_menu {
    display: none; }
  .header_filtr_menu {
    width: 100%;
    text-align: left; }
    .header_filtr_menu div {
      text-align: left;
      width: 200px;
      margin-right: 20px;
      display: inline-block; }
      .header_filtr_menu div input[type="checkbox"] {
        display: none; }
      .header_filtr_menu div input[type="checkbox"]:checked + label::before {
        content: '\f00c';
        color: #b0063a;
        font-size: 14px;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900; }
      .header_filtr_menu div label {
        font-size: 16px;
        display: block;
        width: 100%;
        margin-bottom: 10px;
        cursor: pointer; }
        .header_filtr_menu div label::before {
          content: '';
          display: inline-block;
          margin-right: 10px;
          vertical-align: middle;
          width: 15px;
          height: 15px;
          border: 1px solid #000; }
    .header_filtr_menu p {
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 15px; }
  .header .filtration {
    margin: 30px auto;
    display: block;
    width: 188px;
    height: 35px;
    line-height: 35px;
    background-color: #b0063a;
    text-transform: uppercase;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
    text-align: center; }
    .header .filtration:hover {
      background-color: #fff;
      color: #b0063a;
      border: 1px solid #b0063a;
      transition: all 0.2s ease-in-out; }
  .header_main_content {
    width: 100%;
    min-height: 613px;
    background: linear-gradient(to right, #4a3934, #4a3934 50%, rgba(0, 0, 0, 0) 100%);
    position: relative;
    color: #fff;
    text-align: center; }
    .header_main_content::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      display: block;
      background: url(../assets/images/mainbg.jpg) no-repeat right center;
      background-size: cover;
      z-index: -1; }
    .header_main_content .main_wrapper {
      padding: 66px 0 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%; }
    .header_main_content .header_main_title {
      margin-bottom: 40px; }
      .header_main_content .header_main_title h1 {
        margin-bottom: 3.5rem;
        font-size: 36px;
        font-weight: 300;
        text-transform: uppercase; }
        .header_main_content .header_main_title h1 span {
          font-family: 'Gotham Pro';
          font-weight: 700; }
      .header_main_content .header_main_title p {
        color: #b7b0ae;
        font-size: 20px;
        font-weight: 300; }
    .header_main_content .header_search_input button {
      background-color: #b0063a;
      transition: all 0.2s ease-in-out; }
      .header_main_content .header_search_input button:hover {
        opacity: 0.7;
        transition: all 0.2s ease-in-out; }
    .header_main_content .header_main_btn {
      margin-bottom: 40px; }
      .header_main_content .header_main_btn .header_btn {
        display: inline-block;
        padding: 2rem 4rem;
        border: none;
        background-color: #b0063a;
        color: #fff;
        font-size: 19px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 4.4rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out; }
        .header_main_content .header_main_btn .header_btn:hover {
          opacity: 0.5;
          transition: all 0.2s ease-in-out; }
      .header_main_content .header_main_btn a {
        display: block;
        font-size: 18px;
        font-weight: 300;
        text-decoration: underline; }
    .header_main_content .header_main_about {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .header_main_content .header_main_about div + div {
        margin-left: 6rem; }
      .header_main_content .header_main_about p {
        font-size: 18px;
        font-weight: 300;
        margin-top: 15px;
        line-height: 24px; }

.reviews_title {
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 5rem 0 3.5rem; }
  .reviews_title h2 {
    color: #4a3934;
    font-size: 32px;
    font-weight: 500; }

.assessment {
  color: #b0063a; }
  .assessment .reviews_number {
    font-size: 21px;
    color: #b1063a;
    font-weight: 700; }
  .assessment .stars {
    font-size: 20px; }
    .assessment .stars i + i {
      margin-left: -14px; }

.leaderboard_showbtn {
  display: none;
  width: 100%;
  border: 1px solid #4a3934;
  text-align: right;
  font-size: 28px;
  margin-bottom: 15px;
  cursor: pointer;
  padding-right: 5px; }

.view_all_btn {
  width: 397px;
  height: 46px;
  line-height: 46px;
  background-color: #fff;
  border: 1px solid #4a3934;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 13px auto 75px;
  transition: all 0.2s ease-in-out; }
  .view_all_btn:hover {
    background-color: #4a3934;
    color: #fff;
    transition: all 0.2s ease-in-out; }

.reviews {
  background-color: #f4f3f2; }
  .reviews_items {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    color: #000; }
    .reviews_items .reviews_item {
      background-color: #fff;
      padding: 15px;
      margin-right: 20px; }
      .reviews_items .reviews_item:last-child {
        margin-right: 0; }
      .reviews_items .reviews_item h3 {
        width: 100%;
        text-align: right;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase; }
      .reviews_items .reviews_item .reviews_about {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 25px 0 17px; }
        .reviews_items .reviews_item .reviews_about .reviews_name {
          font-size: 12px;
          position: relative;
          padding-left: 40px; }
          .reviews_items .reviews_item .reviews_about .reviews_name::before {
            content: '\e807';
            font-size: 28px;
            color: #f1bdcd;
            position: absolute;
            left: 0;
            top: 0; }
          .reviews_items .reviews_item .reviews_about .reviews_name p {
            font-weight: 700;
            margin-bottom: 12px; }
        .reviews_items .reviews_item .reviews_about .assessment {
          padding-top: 15px; }
      .reviews_items .reviews_item .reviews_comment {
        font-size: 15px;
        line-height: 20px;
        font-weight: 500; }
      .reviews_items .reviews_item .more_view {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        font-size: 12px;
        font-weight: 700;
        text-decoration: underline;
        color: #4a3934;
        margin-top: 25px; }
        .reviews_items .reviews_item .more_view * {
          display: inline-block; }
        .reviews_items .reviews_item .more_view i::before {
          display: inline;
          padding-left: 2px; }

.leaderboard_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .leaderboard_menu li.active {
    color: #b1063a; }
  .leaderboard_menu li {
    display: inline-block;
    color: #a49c99;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-bottom: 4rem; }
    .leaderboard_menu li:hover {
      color: #b1063a;
      transition: all 0.2s ease-in-out; }
    .leaderboard_menu li a {
      display: block; }
      .leaderboard_menu li a::before {
        font-size: 38px;
        vertical-align: middle;
        margin-top: -5px; }

.leaderboard_restaurants {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .leaderboard_restaurants_item {
    padding: 15px 10px;
    border: 1px solid #e0dfdd;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    margin-bottom: 6rem; }
    .leaderboard_restaurants_item:hover {
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.24);
      transition: all 0.2s ease-in-out; }
    .leaderboard_restaurants_item .img_block {
      height: 186px;
      margin: 23px 0 17px;
      display: flex;
      justify-content: space-between; }
      .leaderboard_restaurants_item .img_block img {
        width: 188px;
        height: 100%;
        display: inline-block; }
      .leaderboard_restaurants_item .img_block .restauran_about {
        display: block;
        margin-left: 20px; }
        .leaderboard_restaurants_item .img_block .restauran_about .assessment_numbers {
          margin-top: 10px; }
          .leaderboard_restaurants_item .img_block .restauran_about .assessment_numbers p {
            display: flex;
            justify-content: space-between;
            line-height: 18px;
            color: #4a3934;
            font-size: 12px; }
    .leaderboard_restaurants_item .timetable_work {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative; }
      .leaderboard_restaurants_item .timetable_work span:nth-child(2) {
        cursor: pointer; }
      .leaderboard_restaurants_item .timetable_work .timetable_block {
        display: none;
        position: absolute;
        left: calc(100% + 14px);
        top: -55px;
        width: 200px;
        height: 130px;
        background-color: #fff;
        border: 1px solid #4a3934;
        z-index: 99;
        font-size: 15px;
        color: #000;
        line-height: 24px;
        padding-left: 23px;
        padding-top: 10px; }
        .leaderboard_restaurants_item .timetable_work .timetable_block::before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          margin-top: -7px;
          left: -8px;
          width: 14px;
          height: 14px;
          border-left: 1px solid #4a3934;
          border-top: 1px solid #4a3934;
          background-color: #fff;
          transform: rotate(-45deg);
          z-index: 999; }
    .leaderboard_restaurants_item .timetable_contact {
      margin: 25px 0 20px;
      font-size: 12px;
      color: #4a3934; }
      .leaderboard_restaurants_item .timetable_contact i.icon-location {
        font-size: 19px;
        margin-left: -6px; }
      .leaderboard_restaurants_item .timetable_contact p + p {
        margin-top: 10px;
        padding-left: 20px; }
      .leaderboard_restaurants_item .timetable_contact span {
        text-decoration: underline;
        cursor: pointer;
        display: inline-block; }
      .leaderboard_restaurants_item .timetable_contact span + span {
        margin-left: 15px;
        text-decoration: none;
        display: none;
        text-transform: uppercase;
        cursor: default; }
    .leaderboard_restaurants_item .timetable_more {
      display: flex;
      justify-content: space-between; }
      .leaderboard_restaurants_item .timetable_more .comm {
        margin-left: -3px;
        font-size: 12px;
        text-decoration: underline; }
        .leaderboard_restaurants_item .timetable_more .comm a.icon-comment::before {
          font-size: 19px;
          vertical-align: middle; }
      .leaderboard_restaurants_item .timetable_more .detals {
        color: #b1063a;
        font-size: 16px;
        text-decoration: underline; }

.leaderboard .about_service h2 {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center; }

.leaderboard .about_service_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0; }
  .leaderboard .about_service_content div {
    width: 48%;
    color: #000;
    font-weight: 400;
    line-height: 18.8px; }

.category1 {
  display: none; }
  .category1.active {
    display: block; }
  .category1 .wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px; }
  .category1 .leaderboard_restaurants_item {
    width: 320px;
    box-shadow: none;
    border: none; }
    .category1 .leaderboard_restaurants_item .img_block {
      height: 133px; }
      .category1 .leaderboard_restaurants_item .img_block img {
        width: 135px;
        height: auto; }
      .category1 .leaderboard_restaurants_item .img_block .restauran_about {
        width: 50%; }
        .category1 .leaderboard_restaurants_item .img_block .restauran_about .assessment {
          display: flex;
          justify-content: space-between;
          align-items: flex-end; }
          .category1 .leaderboard_restaurants_item .img_block .restauran_about .assessment .reviews_number {
            font-size: 25px; }
          .category1 .leaderboard_restaurants_item .img_block .restauran_about .assessment .stars {
            font-size: 18px; }
    .category1 .leaderboard_restaurants_item .keywords {
      width: 100%;
      margin: 20px 0; }
      .category1 .leaderboard_restaurants_item .keywords p {
        display: flex;
        justify-content: space-between; }
        .category1 .leaderboard_restaurants_item .keywords p + p {
          margin-top: 13px; }
      .category1 .leaderboard_restaurants_item .keywords span {
        height: 15px;
        line-height: 12px;
        font-size: 12px;
        text-align: center;
        border: 1px solid #4a3934;
        background-color: #fff;
        padding: 0 10px;
        width: auto; }
  .category1 .restaurant_review {
    background-color: #f4f3f2;
    width: calc(100% - 320px);
    padding: 10px 10px 25px 15px; }
    .category1 .restaurant_review_category span {
      font-size: 12px;
      cursor: pointer; }
      .category1 .restaurant_review_category span.active {
        font-weight: 700; }
      .category1 .restaurant_review_category span + span {
        margin-left: 5rem; }
    .category1 .restaurant_review_content {
      flex-wrap: wrap;
      padding: 0; }
      .category1 .restaurant_review_content .reviews_item {
        background-color: #fff;
        width: 49%;
        padding: 10px;
        margin-top: 12px;
        margin-right: 0; }
        .category1 .restaurant_review_content .reviews_item .reviews_about {
          margin-top: 0; }
        .category1 .restaurant_review_content .reviews_item .more_view {
          justify-content: space-between;
          align-items: center;
          text-decoration: none; }
          .category1 .restaurant_review_content .reviews_item .more_view span.icon-location {
            font-size: 12px;
            font-weight: 400;
            padding-right: 10px; }
            .category1 .restaurant_review_content .reviews_item .more_view span.icon-location::before {
              font-size: 18px; }
          .category1 .restaurant_review_content .reviews_item .more_view span.icon-camera-outline::before {
            font-size: 21px; }
          .category1 .restaurant_review_content .reviews_item .more_view a {
            text-decoration: underline; }
        .category1 .restaurant_review_content .reviews_item.unhappy {
          background-color: #f7e6eb; }
          .category1 .restaurant_review_content .reviews_item.unhappy .reviews_name::before {
            content: '\e808'; }
    .category1 .restaurant_review_more {
      width: 100%;
      text-align: center;
      margin-top: 25px;
      position: relative; }
      .category1 .restaurant_review_more p {
        padding: 10px 6.3rem;
        border: 1px solid #4a3934;
        background-color: #f4f3f2;
        display: inline-block;
        font-size: 16px;
        cursor: pointer; }
      .category1 .restaurant_review_more a {
        position: absolute;
        display: inline-block;
        text-decoration: underline;
        line-height: 36px;
        font-size: 12px;
        left: 70%; }
  .category1_items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #000;
    line-height: 24px; }
    .category1_items ul {
      margin: 0 10px; }
      .category1_items ul li {
        display: inline-block; }
    .category1_items i::before {
      font-size: 24px;
      cursor: pointer; }

.category2 {
  display: none;
  padding-top: 25px;
  padding-bottom: 50px; }
  .category2.active {
    display: block; }

.category_item {
  margin-top: -2px;
  z-index: 99;
  background-color: #fff;
  width: 100%; }
  .category_item .wrapper {
    display: flex;
    justify-content: space-between; }
  .category_item .left_sidebar {
    box-shadow: none;
    border: none;
    width: 320px;
    padding-right: 20px; }
    .category_item .left_sidebar h3 {
      font-size: 18px; }
    .category_item .left_sidebar .img_block {
      flex-direction: column;
      height: auto;
      width: 300px; }
      .category_item .left_sidebar .img_block img {
        width: 100%; }
      .category_item .left_sidebar .img_block .restauran_about {
        margin-left: 0;
        margin-top: 34px;
        width: 180px; }
        .category_item .left_sidebar .img_block .restauran_about .sidebar_reiting {
          color: #b1063a;
          margin-bottom: 12px; }
        .category_item .left_sidebar .img_block .restauran_about .reviews_number {
          font-size: 30px;
          font-weight: 700; }
        .category_item .left_sidebar .img_block .restauran_about .stars {
          font-size: 22px; }
        .category_item .left_sidebar .img_block .restauran_about .assessment_numbers p {
          font-size: 15px;
          font-weight: 400;
          line-height: 23px; }
    .category_item .left_sidebar .timetable {
      width: 300px; }
      .category_item .left_sidebar .timetable_work {
        font-size: 12px;
        margin-top: 15px; }
    .category_item .left_sidebar .keywords {
      width: 300px; }
      .category_item .left_sidebar .keywords p {
        display: flex;
        justify-content: space-between; }
        .category_item .left_sidebar .keywords p + p {
          margin-top: 13px; }
        .category_item .left_sidebar .keywords p span {
          display: inline-block;
          font-size: 12px;
          padding: 3px 5px;
          border: 1px solid #4a3934; }
    .category_item .left_sidebar .old_comment {
      font-size: 16px;
      display: inline-block;
      color: #fff;
      background-color: #b0063a;
      padding: 5px 12px;
      font-weight: 400; }
  .category_item .category_item_reviews {
    width: 100%;
    background-color: #f4f3f2;
    padding: 0 10px; }
    .category_item .category_item_reviews .restaurant_review_top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 25px 0 35px; }
      .category_item .category_item_reviews .restaurant_review_top span:nth-child(1) {
        font-size: 16px;
        font-weight: 700; }
      .category_item .category_item_reviews .restaurant_review_top span:nth-child(2) {
        font-size: 16px;
        color: #b5aeac;
        margin-left: 7rem; }
      .category_item .category_item_reviews .restaurant_review_top span:nth-child(3) {
        flex-grow: 1;
        text-align: right; }
        .category_item .category_item_reviews .restaurant_review_top span:nth-child(3) a {
          text-decoration: underline; }
    .category_item .category_item_reviews .restaurant_review_category span {
      cursor: pointer; }
    .category_item .category_item_reviews .restaurant_review_category span.active {
      font-weight: 700; }
    .category_item .category_item_reviews .restaurant_review_category span + span {
      margin-left: 3rem; }
    .category_item .category_item_reviews .restaurant_review_content {
      flex-direction: column;
      padding: 0;
      margin-top: 30px;
      align-items: flex-end; }
      .category_item .category_item_reviews .restaurant_review_content .unhappy .reviews_item {
        background-color: #f7e6eb; }
      .category_item .category_item_reviews .restaurant_review_content .reviews_item {
        margin-bottom: 44px;
        width: 100%;
        margin-right: 0; }
        .category_item .category_item_reviews .restaurant_review_content .reviews_item .reviews_about {
          margin-top: 0; }
          .category_item .category_item_reviews .restaurant_review_content .reviews_item .reviews_about .icon-emo-unhappy::before {
            content: '\e808'; }
          .category_item .category_item_reviews .restaurant_review_content .reviews_item .reviews_about .reviews_name {
            padding-left: 60px; }
            .category_item .category_item_reviews .restaurant_review_content .reviews_item .reviews_about .reviews_name::before {
              font-size: 40px; }
            .category_item .category_item_reviews .restaurant_review_content .reviews_item .reviews_about .reviews_name p {
              font-size: 17px;
              font-weight: 700;
              color: #000; }
          .category_item .category_item_reviews .restaurant_review_content .reviews_item .reviews_about .assessment {
            text-align: right;
            padding-top: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end; }
            .category_item .category_item_reviews .restaurant_review_content .reviews_item .reviews_about .assessment .recommend {
              color: #b1063a;
              border: 1px solid #b0063a;
              min-height: 30px;
              width: 140px;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              font-weight: 700;
              margin-top: 20px; }
            .category_item .category_item_reviews .restaurant_review_content .reviews_item .reviews_about .assessment .more_view {
              text-decoration: none;
              font-weight: 500; }
  .category_item .reviews_item_answer {
    background-color: #e9e7e6;
    width: 90%;
    margin-left: 10%;
    padding: 20px 15px;
    margin-bottom: 35px;
    color: #000;
    position: relative;
    margin-top: 23px; }
    .category_item .reviews_item_answer h5 {
      font-size: 17px;
      font-weight: 700;
      margin-bottom: 15px; }
    .category_item .reviews_item_answer .data_answer {
      display: block;
      font-size: 12px;
      margin-bottom: 25px; }
    .category_item .reviews_item_answer .answer_text {
      font-size: 15px;
      line-height: 20px; }
    .category_item .reviews_item_answer::before {
      content: '';
      display: block;
      position: absolute;
      top: -20px;
      left: 40px;
      border: 20px solid transparent;
      border-bottom: 20px solid #e9e7e6;
      border-left: 20px solid #e9e7e6; }

.footer {
  width: 100%;
  padding: 40px 0;
  background-color: #4a3934;
  color: #b7b0ae;
  min-height: 500px; }
  .footer .footer_content {
    display: flex;
    justify-content: space-between; }
  .footer .footer_title {
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 15px;
    margin-bottom: 35px;
    border-bottom: 1px solid #b7b0ae; }
  .footer .footer_revizion {
    width: calc((100% / 12) * 3); }
  .footer_menu li {
    margin-bottom: 12px; }
    .footer_menu li a {
      transition: all 0.2s ease-in-out; }
      .footer_menu li a:hover {
        opacity: 0.5;
        transition: all 0.2s ease-in-out; }
  .footer_copyright {
    width: 100%;
    margin-top: 40px;
    font-size: 16px; }
  .footer_soc {
    width: 100%;
    text-align: right;
    margin-top: 10px; }
    .footer_soc li {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      background-color: #b7b0ae;
      color: #4a3934;
      transition: all 0.2s ease-in-out; }
      .footer_soc li:hover {
        opacity: 0.4;
        transition: all 0.2s ease-in-out; }
      .footer_soc li + li {
        margin-left: 2.5rem; }
      .footer_soc li a {
        display: block;
        font-size: 24px; }

@media screen and (max-width: 1230px) {
  html {
    font-size: 5px; }
  .wrapper {
    width: 100%;
    padding: 0 10px; }
  .reviews .reviews_items.wrapper {
    padding: 15px 10px; }
  .reviews_items .reviews_item .reviews_about {
    flex-wrap: wrap;
    justify-content: flex-end; }
    .reviews_items .reviews_item .reviews_about .assessment {
      width: 100%;
      text-align: right;
      padding-top: 5px; }
  .header_menu {
    position: relative; }
    .header_menu .header_menu_list {
      z-index: 999;
      position: absolute;
      background-color: #4a3934;
      top: 100%;
      right: 120%;
      align-items: center;
      flex-direction: column;
      width: 100%;
      transition: all 0.5s ease-in-out; }
      .header_menu .header_menu_list li {
        width: 100%;
        display: block;
        color: #fff;
        height: 40px;
        line-height: 40px;
        margin-right: 0;
        padding-right: 10px; }
        .header_menu .header_menu_list li:hover {
          background-color: #fff;
          color: #4a3934; }
        .header_menu .header_menu_list li a {
          display: block; }
  .header_menu_list.flex {
    right: 0;
    transition: all 0.5s ease-in-out; }
  .header .header_menu .btn_menu_list {
    display: block;
    cursor: pointer; }
  .category_item .category_item_reviews .restaurant_review_content .reviews_item .reviews_about {
    flex-wrap: nowrap; } }

@media screen and (max-width: 1180px) {
  .leaderboard_restaurants {
    justify-content: space-around; } }

@media screen and (max-width: 1080px) {
  .leaderboard_menu li {
    width: 33%;
    text-align: center; }
  .category1 .restaurant_review_more a {
    left: 75%; }
  .category1 .restaurant_review_content .reviews_item .more_view a {
    margin-top: 10px; } }

@media screen and (max-width: 900px) {
  .header_category_list li a i {
    font-size: 50px; }
  .header_main_content .header_main_title {
    width: 480px;
    margin: 0 auto 40px; }
  .category1 .restaurant_review_content .reviews_item {
    width: 100%; }
    .category1 .restaurant_review_content .reviews_item .reviews_about {
      justify-content: space-between; }
  .category1 .restaurant_review_more a {
    width: 140px;
    top: 90%;
    left: calc(50% - 70px); } }

@media screen and (max-width: 840px) {
  .reviews_items {
    flex-wrap: wrap; }
    .reviews_items .reviews_item {
      width: 48%;
      margin-right: 0; }
      .reviews_items .reviews_item:last-child {
        margin-top: 15px; }
  .footer_content {
    flex-wrap: wrap; }
    .footer_content div {
      width: 45%;
      margin-bottom: 40px; }
    .footer_content .footer_revizion {
      width: 45%; }
  .footer_copyright {
    margin-top: 0; }
  .category_item .category_item_reviews .restaurant_review_content .reviews_item .reviews_about {
    flex-wrap: wrap; }
  .category_item .category_item_reviews .restaurant_review_top {
    flex-wrap: wrap;
    align-items: flex-start; }
    .category_item .category_item_reviews .restaurant_review_top span {
      display: block;
      width: 100%;
      text-align: right; }
      .category_item .category_item_reviews .restaurant_review_top span + span {
        margin-top: 5px; }
  .category_item .category_item_reviews .restaurant_review_category span {
    display: block;
    margin-top: 5px; }
    .category_item .category_item_reviews .restaurant_review_category span:first-child {
      margin-top: 0;
      margin-left: 15px; } }

@media screen and (max-width: 768px) {
  .header_top_menu {
    display: none; }
  .header_top_translate {
    line-height: 25px; }
  .header_category {
    display: none; }
  .header_filtr_list span + span {
    display: none; }
  .header_search {
    flex-direction: column;
    align-items: center;
    height: auto; }
    .header_search_city {
      margin-bottom: 10px;
      margin-right: 0; }
    .header_search_input {
      width: 70%; }
  .header_filtr_list {
    display: none; }
  .header_title h1 {
    display: block; }
  .header_main_content .header_main_about {
    flex-wrap: wrap;
    padding: 0 10px; }
    .header_main_content .header_main_about div + div {
      margin-left: 0; }
    .header_main_content .header_main_about div {
      width: 45%; }
    .header_main_content .header_main_about .about3, .header_main_content .header_main_about .about4 {
      margin-top: 25px; }
  .header_main_content .header_main_btn .header_btn {
    font-size: 16px; }
  .about_service .about_service_content div {
    width: 100%; }
  .leaderboard_menu {
    display: none;
    margin-bottom: 20px; }
    .leaderboard_menu li {
      width: 100%;
      margin-bottom: 1rem;
      box-sizing: border-box;
      border-bottom: 1px solid transparent;
      transition: all 0.2s ease-in-out; }
      .leaderboard_menu li:hover {
        border-bottom: 1px solid #4a3934;
        transition: all 0.2s ease-in-out; }
      .leaderboard_menu li a::before {
        display: none; }
  .leaderboard_showbtn {
    display: block; }
  .category1 .leaderboard_restaurants_item {
    padding: 10px 0 0 0;
    width: 300px; }
  .category1 .wrapper {
    flex-direction: column; }
    .category1 .wrapper .restaurant_review {
      width: 100%; } }

@media screen and (max-width: 700px) {
  .category_item .wrapper {
    flex-direction: column; } }

@media screen and (max-width: 600px) {
  .header_search_input button {
    width: 45px;
    font-size: 24px; }
  .header_search_input input[type="text"] {
    padding: 0 60px 0 15px; }
  .header_main_content .header_main_btn .header_btn {
    font-size: 14px; }
  .reviews_items .reviews_item {
    width: 100%;
    margin-bottom: 15px; }
    .reviews_items .reviews_item:last-child {
      margin: 0; }
  .header_filtr_btn .btn_filtr {
    display: block;
    margin-bottom: 5px; }
  .view_all_btn {
    width: 200px;
    font-size: 16px; }
  .leaderboard_restaurants_item .timetable_work .timetable_block {
    top: 30px;
    width: 130px;
    padding-left: 10px;
    left: calc(100% - 130px); }
    .leaderboard_restaurants_item .timetable_work .timetable_block::before {
      top: -1px;
      left: 50%;
      margin-left: -4px;
      transform: rotate(45deg); } }

@media screen and (max-width: 500px) {
  .header_main_content .header_main_about div {
    width: 100%;
    margin-top: 30px; }
    .header_main_content .header_main_about div p {
      padding: 0 15%; }
  .header_main_content .header_main_title {
    width: 80%;
    margin: 0 auto 20px; }
  .header_main_content .header_main_title p {
    width: 70%;
    margin: 15px auto 0; }
  .header_main_content .header_main_btn .header_btn {
    font-weight: 400;
    font-size: 12px; } }

@media screen and (max-width: 425px) {
  .reviews_title h2 {
    font-size: 24px; }
  .header_title {
    font-size: 18px; }
  .header_filtr_btn .btn_filtr {
    width: 150px; }
  .header_logo_city {
    width: 300px; }
  .header_search_city {
    height: 30px;
    line-height: 30px; }
    .header_search_city i {
      font-size: 16px;
      color: #000; }
  .header_search_input {
    height: 30px; }
    .header_search_input button {
      width: 30px;
      height: 100%;
      line-height: 30px;
      font-size: 14px; }
  .footer_content div {
    width: 100%; }
  .footer_content .footer_revizion {
    width: 100%; }
  .leaderboard .view_all_btn {
    width: 250px; }
  .leaderboard_restaurants_item .img_block {
    height: auto;
    flex-wrap: wrap; }
    .leaderboard_restaurants_item .img_block img {
      margin: auto;
      margin-bottom: 10px; }
    .leaderboard_restaurants_item .img_block .restauran_about {
      width: 100%; }
  .leaderboard_restaurants_item .timetable_more {
    justify-content: flex-end; }
    .leaderboard_restaurants_item .timetable_more .comm {
      display: none; }
  .category1 .leaderboard_restaurants_item .img_block {
    height: auto; }
    .category1 .leaderboard_restaurants_item .img_block img {
      height: 133px;
      margin: 0 0 10px 0; }
    .category1 .leaderboard_restaurants_item .img_block .restauran_about {
      margin-left: 0; }
  .category_item .left_sidebar {
    padding: 0;
    width: 300px; }
  .category_item .wrapper {
    padding: 0 10px; } }
